h1{
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li{
    
    text-align: left;
    width: 50%;
    background-color:rgb(173, 83, 201);
    display: flex;
    line-height: 30px;
    border-radius: 6px;
    display: inline-block;
    padding: 1px 50px;
    margin: 4px 0;
} 

div.first{
    text-align: center;
    width: 100%;
    margin-top: 2em;
    background-color:rgb(239, 173, 252);
    max-width: 50%;
    box-shadow: 8px 6px rgb(207, 129, 231);
    border-radius: 20px;
    padding: 0;
    min-height: 300px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}

button{
    width: 80px;
    height: 30px;
    padding: 6px 6px;
    text-align: center;
    font-size: 15px;
    background-color:aquamarine ;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 6px;
    margin: 4px 6px;
}
h1{
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
input{
    background-color: transparent; 
  padding: 6px 6px;
  text-align: center;
  font-size: 15px;
  width: 180px;
  margin: 4px 6px;
  border: 2px solid aquamarine;
}




