h1{
    background-color: aquamarine;
    width:250px;
}
button{
    width: 80px;
    height: 30px;
    padding: 6px 6px;
    text-align: center;
    font-size: 15px;
    background-color:rgb(68, 255, 124) ;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 6px;
    margin: 4px 6px;
  }

  table {
    border-collapse: collapse;
    margin: 2px 15px;
    width: 30%;
    border-radius: 12px;
    border:solid 4px rgb(5, 4, 4);
  }
  th{
    background-color: #f084e1;
    border:4px solid black;
    color: black;

}