h1{
  background-color: aquamarine;
  width:350px;
}
button{
    width: 70px;
    height: 30px;
    padding: 6px 6px;
    text-align: center;
    font-size: 15px;
    background-color:rgb(68, 255, 124) ;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 6px;
    margin: 4px 6px;
  }
  input{
    height:9px;
    padding: 6px 6px;
    text-align: center;

  }
  
  
 

.table{
    margin: auto;
    color: #e406c6;
    font-size: 20px;
    width: 60px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    border: solid 3px rgb(5, 4, 4);
}

tr {
  background-color:#f084e1;
  height: 65px;
  width: 320px;

}
