<br>
<h1>Last In First Out(LIFO)</h1>
<div class="butfirst">
  <input  type="text" placeholder="Push Number" id="pushNum" >
  <button type="button" class="button"  onclick="pushElm(pushNum)" >Push</button>
  <input  type="text" placeholder="Push Number" id="pushNum" >
<br>
  <button type="button" class="button"  onclick="popElm()">Pop</button>
  
</div>
<br>
<div>
<br>
    <table id="myTable" class="table">
        <thead>
          <tr>
            <th>1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>3</td>
          </tr>
        </tfoot>
    </table>
</div>