h1{
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
button{
    background-color: rgb(255, 254, 254); 
      padding: 6px 6px;
      text-align: center;
      font-size: 15px;
      cursor: pointer;
      width: 80px;
      border-radius: 13px;
      margin: 6px 15px;
      border: 2px solid aquamarine;
    
    
    }
    

form{
    text-align: center;

}
div.first{
    text-align: center;
    width: 100%;
    margin-top: 2em;
    background-color:rgb(239, 173, 252);
    max-width: 50%;
    box-shadow: 8px 6px rgb(207, 129, 231);
    border-radius: 20px;
    padding: 0;
    min-height: 300px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}
