

h1{
  background-color: #23a6d5;
    font-family: fantasy;
    text-align: center;
}
h1.p{
  text-align: en;
} 
img{
  width: 30px;
  text-align:start;

}
button{
background-color: rgb(255, 254, 254); 
  padding: 6px 6px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 140px;
  border-radius: 8px;
  margin: 4px 6px;
  border: 2px solid #dbf8dc;


}

  
  .btn-group .button:hover {
      background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 


