<div class="first"><br>
  <h1>My Projects
  </h1> 
  


  <div class="btn-group">
    <button class="button" (click)="ShowTodo('todo');">TODO List</button>
    <button class="button" (click)="ShowStack('stack');">Stack</button>
    <button class="button"  (click)="ShowQueue('queue');">Queue</button>
    <button class="button"  (click)="ShowageCalculator('age-calculator');">Age Calculator</button>
    <button class="button"  (click)="ShowPercentage('percentage');">Percentage</button>
    <button class="button"  (click)="ShowUnits('units');">Unit conversion</button>
    <button class="button"  (click)="ShowCounting('counting');">Counting</button>

    
    <p (click)="openLink()"><img src="../../assets/1964417_github_logo_media_social_icon.png"></p>
    <p (click)="openLinkedin()"><img src="../../assets/2062080_linkedin_job_logo_network_professional_icon.png"></p>




  </div>
</div>


<router-outlet></router-outlet>